iframe {
  height: 300px;
  width: 300px;
  resize: both;
}
h3 {
  text-align: center;
}
.card {
  display: inline-block;
  width: 17rem;
  /*margin-right: 0.5rem;*/
  margin-left: 0.5rem;
  margin-top: 1rem;
  border: none;
}
#date {
  font-size: 11px;
  margin-bottom: 0.5rem;
  color: #808080;
  display: block;
}
p {
  display: inline-block;
  margin-left: 1rem;
}
.rem {
  margin-left: 2rem;
}
@media screen and (max-width: 760px) {
  .card {
    margin-right: auto;
    margin-left: auto;
  }
}

.card .no {
  display: none;
}
.card:hover .no {
  display: inline;
}

.card:hover .yes {
  display: none;
}

button{
    border:none;
     background: white;
}
      section{
         text-align:center;
         width:100%;
      }   
    /* Formatting search box */
    .search-box{
        /*size of search box*/
        width: 500px;
        position: relative;
        /*display: inline-block;*/
        font-size: 14px;
        margin:auto;
         
    }
    .search-box input[type="text"]{
        height: 32px;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
    }
    .result{
        position: absolute;        
        z-index: 999;
        top: 100%;
        left: 12px;
    }
    .search-box input[type="text"], .result{
        /*size of results*/
        width: 400px;
        box-sizing: border-box;
    }
    
    /* Formatting result items */
    .result div{
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
       background: white;
     
    }
    .result div:hover{
        background: #f2f2f2;
    }
    