/* Container holding the image and the text */

html, body{
  height: 100%;
}

.top {
  position: relative;
  text-align: center;
  font-size: 150%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.img_top{
  width:100%;
  height:250px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.box{
 float: left; 
 width: 100%;  
 border: 2px solid grey; height:25%;
 margin-bottom: 0.5%;
 box-shadow:1px 2px #888888;
}

.img_box{
  float: left; width: 20%; height: 100%;
}

.content{
    float: left;margin-left: 0.5%; width:77%; height:100%;
    word-wrap:break-word;
    overflow-x: scroll;
}

a{
  color:black;
}

.in_content{
  text-decoration: none;
}

@media screen and (max-width: 990px){
   
   div.content{
       font-size: 0.9rem;
   }
   h5{
       font-size: 1rem
   }
}
@media screen and (min-width: 991px){
   
   div.content{
       font-size: 1rem;
   }
}

#personal_text{
    width:50% ;
    float: right;
    background-color:#F0B27A;
}
@media screen and (max-width: 1000px){
   
 #img_protest{
     display: none;
 }
 #personal_text{
     float :none;
     width:100%;
 }
 
}
.top1 {
  position: relative;
  text-align: left;
  font-size: 150%;
}
p{
    display: inline-block;
    margin-left:1rem;
    
}
b{
    margin-left:1rem;
    letter-spacing: -0.05em;
    word-spacing: -5px;
    font-family: Lucida Console;
}
