table {
    margin: 0 auto;
    font-size: large;
    border: 1px solid black;
}
.tableFixHead          { overflow: auto;  }
.tableFixHead thead th { position: relative; top: 0; z-index: 1;}

h3 {
    text-align: center;
    color:#F0B27A;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    background-color: #E4F5D4;
    border: 1px solid black;
}

th,
td {
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

td {
    font-weight: lighter;
}
.button{
    border-radius: 4px;
    background-color: white;
    color: black;
    border: none;
    margin:0;
    padding:0;
    
}
.card{
  width: 12rem;
  margin-top: 1rem;
  border: none;
}

#size_p{
    font-size:10px;
    margin-top:-0.5rem;
    background-color:#F0B27A;
    border: none;
}
#size_p1{
    font-size:10px;
    margin-top:-0.5rem;
}
b{
    font-size:12px;

}
#size_p:hover{
    background-color: #c86712e6;
}

#information{
    display:inline-block;
    text-align: center;
}

details > summary {
    list-style-type: none;
}
details{
    margin-left:0.5rem;
    
}
#info{
    text-align: left; 
    font-size:12px;
    
}



    /* Formatting search box */
    .search-box{
        width: 400px;
        position: relative;
        /*display: inline-block;*/
        font-size: 14px;
         
    }
    .search-box input[type="text"]{
        height: 32px;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
    }
    .result{
        position: absolute;        
        z-index: 999;
        /*top: 100%;*/
        left: 73px;
    }
    .search-box input[type="text"], .result{
        box-sizing: border-box;
    }
    /* Formatting result items */
    .result p{
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
       background: white;
       width: 180px;
    }
    .result p:hover{
        background: #f2f2f2;
    }
    
    
    #center{
        width: 600px;
        text-align: center;
        margin: auto;
    }
    
    i{
      text-align: center;
       margin: auto;
    }
  