
.form-control.success input{
    border-color: #2ecc71;
}
.form-control.success textarea{
    border-color: #2ecc71;
}
.form-control.error input{
    border-color: #e74c3c;
}
.form-control.error textarea{
    border-color: #e74c3c;
}
.form-control small{
    visibility: hidden;
}
.form-control.success svg{
    color:#2ecc71 ;
}

.form-control.error svg{
   color: #e74c3c;
}

.form-control.error small{
    visibility: visible;
    color:#e74c3c ;
}

small{

    display:inline-block;
}