* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .border {
    float: left;
    margin: 1rem;
    border: grey;
    border-radius: 8px;
    padding: 15px;
  }
  
  .img {
      height:10rem;
      width: 10rem;
      display: block;
  }